$TTL	60
@	IN	SOA	demi.ro. root.demi.ro. (
			      1		; Serial
			     60		; Refresh
			     60		; Retry
			     60		; Expire
			     60 )	; Negative Cache TTL
;
@	IN	NS	ns1.demi.ro.
@	IN	A	{{"{{ public_ipv4_address }}"}}

ns1	IN	A	demi-ns.dynv6.net.

www	IN	CNAME	demi.ro.
key	IN	CNAME	demi.ro.
nas	IN	CNAME	demi.ro.
books	IN	CNAME 	demi.ro.
term	IN	CNAME	demi.ro.

{{ "{% set ipv6_prefix = ansible_default_ipv6.address | ipsubnet(64, 0) | replace('::/64', '') %}" }}
{% for h in groups.all | sort %}
{{ h }}	IN	AAAA	{{ "{{ ipv6_prefix }}:" }}{{ hostvars[h].ansible_default_ipv6.address | get_ipv6_suffix }}
{% endfor %}


; Include files with TXT records for certificate challenge data.
; These are created empty, but might be filled later when a challenge is needed.

$INCLUDE /etc/bind/cert_txt.include

; Allow emails from "*@demi.ro" to be sent from any IPv6 address on this network
; Note: SMTP on IPv4 is blocked by the ISP, which is most likely a good idea
{{ "{% set ipv6_network = ansible_default_ipv6.address | ipsubnet(56, 0) %}" }}
@	IN	TXT	"v=spf1 ip6:{{ "{{ ipv6_network }}" }} a -all"
