<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}demi.ro{% endblock %}</title>
    <style type="text/css">
      body {background-color: black; color: gray;}
      pre {
          font-weight: normal;
          color: #bbb;
          white-space: -moz-pre-wrap;
          white-space: -o-pre-wrap;
          white-space: -pre-wrap;
          white-space: pre-wrap;
          word-wrap: break-word;
          overflow-wrap: break-word;
      }
      b {font-weight: normal}
    </style>
  </head>
  <body>
    <table style="margin-left: auto; margin-right: auto;">
      <tr>
        <!-- Demi image -->
        <td>
          <img src="grumpy-demi.png" alt="Demi"/>
        </td>
        <!-- Demi ASCII banner -->
        <td>
          {% include "banner.html" %}
        </td>
      </tr>
      <tr>
        <!-- Navigation bar -->
        <td style="vertical-align: top; text-align: left;">
          <ul style="list-style-type: square; padding: 15px;">
            <li><a href="/">home</a></li>
            <li><a href="/nas">NAS</a></li>
            <li><a href="/key">key setup</a></li>
            <li><a href="/term">terminal</a></li>
            <li><a href="/about.html">about</a></li>
          </ul>
        </td>
        <!-- Main content -->
        <td style="vertical-align: top; text-align: left; width: 600px">
          {% block main %}{% endblock %}
        </td>
      </tr>
    </table>
  </body>
</html>
